# ==============================================================================
# CONFIGURAÇÕES DO BANCO DE DADOS (MYSQL PRODUÇÃO)
# ==============================================================================
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=site_antigo_db
MYSQL_USER=user_tiweb
MYSQL_PASSWORD=

# ==============================================================================
# FRONTEND ANGULAR (VARIÁVEIS DE AMBIENTE)
# ==============================================================================
GOOGLE_CLIENT_ID=
API_URL=https://tiweb.app.br/wp-json
GRAPHQL_URL=https://tiweb.app.br/graphql

# ==============================================================================
# AUTENTICAÇÃO E SEGURANÇA (JWT & GOOGLE OAUTH)
# ==============================================================================
JWT_AUTH_SECRET_KEY=
GOOGLE_CLIENT_SECRET=
