# ==========================================
# GUIA DE IGNORADOS - PROJETO TIWEB (KISS)
# ==========================================

# --- GERAL E SISTEMA ---
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.env
.env.*.local
*.log

# --- INFRA E DOCKER ---
db_data/
database-dump/
/tmp
/bazel-out
/out-tsc
/connect.lock
/libpeerconnection.log

# --- ANGULAR (Caminhos relativos à raiz) ---
node_modules/
**/node_modules/
frontend-angular/dist/
frontend-angular/.angular/cache
frontend-angular/coverage
npm-debug.log
yarn-error.log
testem.log

# --- WORDPRESS CORE (Limpando o legado) ---
wp-tiweb/wp-admin/
wp-tiweb/wp-includes/
wp-tiweb/*.php
wp-tiweb/wp-config.php
!wp-tiweb/wp-config-example.php
wp-tiweb/error_log
wp-tiweb/*.html

# --- WP CONTENT & PLUGINS ---
wp-tiweb/wp-content/plugins/*
wp-tiweb/wp-content/themes/
wp-tiweb/wp-content/uploads/
wp-tiweb/wp-content/upgrade/
wp-tiweb/wp-content/cache/
wp-tiweb/wp-content/languages/
wp-tiweb/wp-content/jetpack-waf/
wp-tiweb/wp-content/mu-plugins/
wp-tiweb/wp-content/endurance-page-cache/

# ⭐ EXCEÇÃO CRÍTICA: NOSSA REGRA DE NEGÓCIO (PLUGIN E FRONT)
!wp-tiweb/wp-content/plugins/tiweb-google-auth/
!wp-tiweb/wp-content/plugins/tiweb-content-manager/
!wp-tiweb/wp-content/mu-plugins/tiweb-security.php
!frontend-angular/
!docker-compose.yml
!.gitignore
COMANDOS_UTEIS.md